<div class="swiper-slide">
  <a href="{{source}}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
    rel="shadowbox; width={{#if modalWidth}}{{modalWidth}}{{else}}720{{/if}}; height={{#if modalHeight}}{{modalHeight}}{{else}}405{{/if}};">
    <img src="{{image}}" alt="{{alt}}" />
  </a>
</div>